


#pagetop{

  background-color: rgb(198,157,210);
  font-size: 36px;
  font-family: PP Neue World,serif;
  margin-left: 20px;
  margin-right: 20px;
  border:solid white; 5px;
}


.main{
  background-color: rgb(205,190,255);
  font-family: PP Neue World,serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer{
background-color: rgb(198,157,210);
margin-left:20px;
margin-right:20px;
margin-top:20px;
}

.sectiondivide{
background-color:rgb(198,157,210);
border:solid white 5px;
margin-left: 20px;
margin-right:20px;
margin-top: 20px;
}

body{
  background-color: rgb(163,144,228);
  font-family: PP Neue World,serif;
}

h1{
  font-size: 75px;
  color:rgb(47, 50, 58);
  font-family: PP Neue World,serif;
  text-align: center;
  text-shadow: 1px 1px white;

}

h2{
  font-size: 50px;
  color: rgb(47, 50, 58);
  font-family: PP Neue World,serif;
  text-align: center;
  text-shadow: 1px 1px white;

}

h3{
  font-size: 36px;
  color:rgb(46,22,57);
  font-family: PP Neue World,serif;
  text-align:center;
  text-shadow: 0.5px 0.5px white;
}

h4{
  font-size: 28px;
  color:rgb(46,22,57);
  font-family: PP Neue World,serif;
  text-align:left;
  margin-left: 20px;
}

a:link{
  /* font-size:28px;  */
  color: rgb(65,67,97);
}

a:visited{
  color: rgb(65,67,97);

}

p{
  font-size: 28px;
  color: white;
  text-align: center;

}

ul{
  font-family:PP Neue World,serif;
  font-size:28px;
  color: rgb(46,22,57);
  text-align: left;
  font-weight:600;
}

img{
  width: 20vw;
  margin-top:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid white 5px

}

 hr {
   border: dotted rgb(47, 50, 58) 4px;
 }

 #buttonarea{
   display: flex;
   flex-direction: row;
   justify-content: center;

 }


 button{

   background-color:white;
   font-family:"PP Neue World",serif;
   color: rgb(127, 126, 255);
   border: solid rgb(47, 50, 58) 3px;
   font-size: 20px;
   margin-bottom: 20px;
   margin-left: 10vw;
   padding-bottom: 5px;
   padding-top: 5px;
   font-weight: bold;
   margin: auto;

 }

 button:active{
   background-color: rgb(90, 89, 218);


 }

 button:hover{
   background-color: rgb(90, 89, 218);
   border: solid rgb(72, 71, 194) 4px;
   color: white
 }


 @media screen and (min-width:800px){

   .main{
     flex-direction:column-reverse;
     flex-wrap: nowrap;


   }

 }

 @media screen and (max-width:800px){
   .main{
     flex-direction: column;
     flex-wrap: nowrap;

   }
   ul{
     font-size: 18px;
   }
   a{
     font-size: 18px;
   }
   img{
     width:10vw;
   }
   h1{
     font-size: 55px;

   }
   h2{
     font-size: 40px;
   }
   h3{
     font-size: 24px;
   }
   button{
     font-size: 15px;
   }
 }

 @media screen and (min-width:992px) {
   #buttonarea{
     flex-direction:row;
   }


 }

 @media screen and (max-width:900px) {
   #buttonarea{
     flex-direction:column;
   }

 }
