#pagetop{
  background-color: rgb(195,60,111);
  font-size: 36px;
  font-family: PP Neue World,serif;
  margin-left: 20px;
  margin-right: 20px;
}

#main{
  background-color: rgb(244,244,244);
  font-size: 25px;
  color: Black;
  font-family: PP Neue World,serif;
  margin-left: 20px;
  margin-right: 20px;
}

#footer{
background-color: rgb(195,60,111);
margin-left:20px;
margin-right:20px;
}

#sectiondivide{
background-color:rgb(46,22,57);
}

body{
  background-color: rgb(244,244,244);
}

h1{
  font-size: 75px;
  color:rgb(214, 140, 57);
  font-family: PP Neue World,serif;
  text-align: center;
  text-shadow: 2px 2px rgb(46,22,57)
}

h2{
  font-size: 50px;
  color: rgb(46,22,57);
  font-family: PP Neue World,serif;
  text-align: center;


}

h3{
  font-size: 36px;
  color:rgb(214, 140, 57);
  font-family: PP Neue World,serif;
  text-align:Left;
  text-shadow: 1px 1px rgb(195,60,111)
}

h4{
  font-size: 28px;
  color:rgb(46,22,57);
  font-family: PP Neue World,serif;
  text-align:left;
}

a:link{
  font-size:28px;
  color: rgb(119,22,42);
}

a:visited{
  color: rgb(195,60,111);

}

p{
  font-size: 28px;
  color: rgb(46,22,57);
  text-align: center;

}

ul{
  font-size:28px;
  color: rgb(46,22,57);
  text-align: left;
}

img{
  width: 20vw;
  margin-left:250px;
  margin-top:20px;
}
