#pagetop{
border: solid rgb(69,33,35) 2px;
background: repeating-linear-gradient(
  to right,
  #342624,
  #342624 10px,
  #E5E5E5 10px,
  #E5E5E5 20px
);
}


h1{
  font-size: 50px;
  font-family: Montserrat;
  color: #342624;
  text-align: center;

}

h2{
  font-size: 40px;
  font-family: Montserrat;
  color: #342624;
  text-align: center;
}

h3{
font-family: Montserrat;
font-size: 40px;
text-align: center;

}

h4{
  font-family: Montserrat;
  font-size: 35px;
  text-align: center;
  color: #E5E5E5;

}

h5{
  font-family: Georgia;
  color: #E5E5E5;
  text-align: center;
  font-size: 24px;

}

#bendelstorefront{
  max-width: 30%;
  max-height: 30%;
  margin-top: 3vw;
  margin-bottom: 2vw;
  border-style: double;
  border-color: #E5E5E5;
  border-width:thick;
  margin-left: 34vw;
  margin-right:40vw;


}

#contactinformation{
  background-color: #342624;
  padding-bottom: 3vw;
  margin-bottom: 3vw;

}
#footer{
  background-color: #342624;
  background: repeating-linear-gradient(
    to right,
    #342624,
    #342624 10px,
    #E5E5E5 10px,
    #E5E5E5 20px
  );
padding-top: 3vw;
padding-bottom: 1vw;

  }
}

a{
  font-family: Montserrat;
  font-size: 16px;
  color: #342624;
}


p{
  font-size: 20px;
  font-family: Montserrat;
  color: #342624;
  text-align: center;
}

a:link{
  font-size:20px;
  color:#E5E5E5;
}

a:visited{
  color: #E5E5E5;

}




#chicgirl{
  margin-bottom: 3vh;
  text-align: center;
  margin-top: 3vw;

}
#quirkygirl{
  text-align: center;
  margin-top: 3vw;
}

#sportygirl{
  text-align: center;
  margin-top: 3vw;
}

#fashionistagirl{
  text-align: center;
  margin-top: 3vw;
}

#glamorousgirl{
  text-align: center;
  margin-top: 3vw;
}



#pageheader{
background: #E5E5E5;
border: solid;
border-color: #342624;
border-style: double;
margin-right: 10vw;
margin-left:10vw;
margin-top: 3vw;
margin-bottom: 3vw;
height: 120px;
padding-bottom: 15px;
text-align: center;

}

.pagespacer{
  margin-top: 4vw;
  border-bottom:solid;
  border-bottom-color: #342624;
  margin-left: 8vw;
  margin-right: 8vw;
  background-color: white;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
mark{
  background-color: #E5E5E5;
}


button{
  background: #342624;
  width: 325px;
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  font-family: Montserrat;
  border-style: solid;
  border-color: #E5E5E5;
  margin-top: 10px;
  margin-left: 10%;
}
button:hover{
  cursor:pointer;;
}


#logo{
  max-width: 30%;
  height: auto;
  /* padding-left: 573px; */
  /* padding-right: 573px; */
  padding-left: 35%;
  padding-right: 50%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 40px;
}

/* Hide the images by default */
.mySlidesfade {
display:none;
margin-bottom: 2vw;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  /* background-color: white; */
  position:absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: -10px;
  color: rgb(52,38,36);
  font-weight: bold;
  font-size:50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  left: 110%;
}
.prev{
  right: 110%;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(253,253,253);
}


  /* Number text (1/3 etc) */
  .numbertext {
    color: #342624;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;

}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
margin-top: 2vw;
}

.active, .dot:hover {
background-color: #342624;
}

@media screen and (min-width:1000px){

  .main{
    flex-direction:column-reverse;
    flex-wrap: nowrap;

  }

}

@media screen and (max-width:1190px){
  .main{
    flex-direction: column;
    flex-wrap: nowrap;

  }
  button{
    font-size: 10px;
  }
  h1{
    font-size: 35px;
  }


}

  /* #logo{ */
    /* display: flex; */


  /* } */



/* Fading animation */
.mySlidesfade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.photogridrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-bottom: 4vw;
  margin-left: 20%;
}

/* Create four equal columns that sits next to each other */
.photogridcolumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.photogridcolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 1190px){
  .prev,.next{
    top:100%;
  }
  .prev{
    right:55%;
  }
  .next{
    left:55%;
  }

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photogridcolumn {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .photogridcolumn {
    flex: 100%;
    max-width: 100%;
  }
}
